<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-primary">
      <strong class="has-text-primary">Фонарь</strong> — философская социальная сеть. &copy; <a href="/u/georgii">Георгий Семенов</a> 2022
    </p>
    <p class="has-text-white" style="font-size: 9pt;">
      <a href="/docs">Разработчикам</a>
    </p>
  </div>
</footer>