<footer>
    <div class="footer">
        <div class="corporate-links">
            <ol>
                <li>Связаться со мной</li>
                <li><del>Конфиденциальность</del></li>
                <li>Карта сайта</li>
                <li>О сайте</li>
                <li>
                    <div class="copyright">
                        &copy; Георгий Семенов <span class="number">2022</span>
                    </div>
                </li>
            </ol>
        </div>
        <div class="text-zone" data-intro='Время загрузки позволяет оценить полезность сайта.'>
            Время загрузки страницы: {{loadingtime}} + <span class="number app-load-time"></span> ms
        </div>
    </div>
</footer>