<aside >
    <div class="card stretched bInfo ">
        <div class="card-header">
            <h4>Контакты</h4>
        </div>
        <ul>
            <li class="button bRed"><a href="http://tg.com"><div class="icon i-telegram"></div></a></li>
            <li class="button bBlue"><a href="#"><div class="icon i-email"></div></a></li>
            <li class="divider"></li>
            <li class="button bGreen"><a href="#"><div class="icon i-github"></div></a></li>
            <li class="button bOrange"><a href="#"><div class="icon i-vk"></div></a></li>
            <li class="button bPurple"><a href="#"><div class="icon i-twitter"></div></a></li>
        </ul>
    </div>

    <div class="break spaced"></div>

    <div class="card stretched bInfoGreen">
        <div class="card-header">
            <div class="button bInfoGreen">
                <div class="icon i-info"></div>
            </div>
            <h4>Информация</h4>
        </div>
        <ul class="corporate-links">
            <li><a href="#">Lorem</a></li>
            <li><a href="#"><ins>Ipsum</ins></a></li>
            <li><a href="#">Dolor</a></li>
        </ul>
    </div>

    <div class="break spaced"></div>

    <pre class="ascii">
            ,d                             ,d
            88                             88
,adPPYba, MM88MMM 8b,dPPYba,   ,adPPYba, MM88MMM ,adPPYba, 8b,dPPYba,
I8[    ""   88    88P'    "8a a8P_____88   88   a8P_____88 88P'   "Y8
 `"Y8ba,    88    88       d8 8PP"""""""   88   8PP""""""" 88
aa    ]8I   88,   88b,   ,a8" "8b,   ,aa   88,  "8b,   ,aa 88
`"YbbdP"'   "Y888 88`YbbdP"'   `"Ybbd8"'   "Y888 `"Ybbd8"' 88
                  88
                  88
                </pre>


</aside>