<!DOCTYPE html>
<html lang="ru">
<head>
    {{> meta}}
    {{> css}}
</head>
<body>

    {{> nav}}
    {{> sidebar}}

    <main>

        <article>
                {{ page.content }}
        </article>

    </main>

    {{> footer}}

</body>

    {{> js }}

</html>