<section class="hero is-link is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <text class="logo-text is-1">404.</text>
        Не найдено
      </p>
      <p class="subtitle is-5">
        Нельзя тому, что было грустью зыбкой,<br>
        Сказать: «Будь страсть! Горя безумствуй, рдей!»<br>
        Твоя любовь была такой ошибкой, —<br>
        Но без любви мы гибнем. Чародей!
      <p class="is-6">«Ошибка», М.И. Цветаева</p>
      </p>
    </div>
  </div>
</section>