@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');
$title-family: "Inter", sans-serif;
$family-primary: "Inter", sans-serif;

// Colors
$logo-background: #364968;
$logo-text: #FDDF97;

$primary: $logo-text;
$link: $logo-background;

$button-color: $logo-text;

//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Navigation
$navbar-background-color: $logo-background;

$navbar-burger-color: $logo-text;
$navbar-divider-background-color: $logo-text;

$navbar-box-shadow-color: $logo-text;

$navbar-item-color: $logo-text;
$navbar-item-hover-color: $logo-text;
$navbar-item-hover-background-color: $logo-background;

$navbar-dropdown-background-color: $logo-background;
$navbar-dropdown-arrow: $logo-text;
$navbar-dropdown-item-hover-color: $logo-text;
$navbar-dropdown-item-hover-background-color: $logo-text;

// Footer

$footer-background-color: $logo-background;
$footer-padding: 1.5rem 1.5rem 1.5rem;
$footer-color: true;

// Columns


@import "../../node_modules/bulma/bulma.sass";
//@import "../../node_modules/bulma/bulma";
//@import "../../node_modules/bulma/sass/utilities/all";
//@import "../../node_modules/bulma/sass/base/all";
//@import "../../node_modules/bulma/sass/elements/button";
//@import "../../node_modules/bulma/sass/elements/container";
//@import "../../node_modules/bulma/sass/elements/title";
//@import "../../node_modules/bulma/sass/form/all";
//@import "../../node_modules/bulma/sass/components/navbar";
//@import "../../node_modules/bulma/sass/layout/hero";
//@import "../../node_modules/bulma/sass/layout/section";


// Navigation
#app-nav .navbar-brand .navbar-item, .logo-text {
  font-size: 26pt;
  font-weight: 900;
  padding-top: 0;
  font-family: $title-family;
  color: $logo-text;
}

#app-nav .navbar-brand .navbar-burger {
  height: auto;
}

#app-nav-bar .navbar-item {
  font-size: 12pt;
  font-weight: 500;
}

#app-nav .button {
  color: #4a4a4a;
}

a.navbar-burger:hover {
  color: $logo-text;
}

// Footer
body > footer a, body > footer strong {
  color: $logo-text;
}

body > footer a:hover {
  color: $logo-text;
  text-decoration: underline;
}


// ==================================================
// Custom settings


// Form warnings

.is-success-animated{
  @extend .is-success;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.is-danger-animated{
  @extend .is-danger;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}


// Editor.js styles

.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; }

// Columns reversed

@media(max-width: $desktop) {
  .columns.is-reversed-touch {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media(max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

#reponses:empty::after {
  content: "Ум взыскует диалога. Начнете первым?"
}